<!-- admin.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard | KRA's Details</title>

  <!-- ======= Styles ====== -->
  <!--<link rel="stylesheet" href="../style.css">-->
</head>

<body>

    
    <div class="form-container">
        <h2>KRA's Detail</h2>
        <form action="php/add_kra.php" method="post">
            <input type="hidden" id="id" name="id">
            <div class="form-group" style="width: 100%;">
                <input type="text" id="name" style="font-size: 14px; width: 100%;" name="name" placeholder="Name" autocomplete="off" required>
                <label for="name">Name</label>
                <div id="nameSuggestions" class="autocomplete-suggestions"></div>
            </div>
            <!-- <div class="row"> -->
                <!-- </div> -->
            <div class="col">

                <div class="row">
                    <div class="form-group">
                        <input type="number" id="callyzer_2pm" name="callyzer_2pm" placeholder="2 PM" required>
                        <label for="callyzer_2pm">2 PM</label>
                    </div>
                    <div class="form-group">
                        <input type="number" id="callyzer_5pm" name="callyzer_5pm" placeholder="5 PM" required>
                        <label for="callyzer_5pm">5 PM</label>
                    </div>
                    <div class="form-group">
                        <input type="number" id="callyzer_8pm" name="callyzer_8pm" placeholder="8 PM" required>
                        <label for="callyzer_8pm">8 PM</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="number" id="totalCalling" name="totalCalling" placeholder="Total Calling" required>
                        <label for="EmployId">Total Calling</label>
                    </div>
                    <div class="form-group">
                        <input type="number" id="prospect" name="prospect" placeholder="Prospect" required>
                        <label for="prospect">Prospect</label>
                    </div>
                    <div class="form-group">
                        <input type="number" id="meetings" name="meetings" placeholder="No. of Meetings" required>
                        <label for="meetings">No. of Meetings</label>
                    </div>
                    <!-- <div class="form-group">
                        <input type="number" id="not_sale" name="not_sale" placeholder="No Sale Days" required>
                        <label for="not_sale">No Sale Days</label>
                    </div> -->
                </div>
            </div>    
            <button class="btn">Submit</button> 
        </form>
    </div>
    
    
    <!-- <button id="toggleFormBtn">Show Form</button> -->

<!-- =========== Scripts =========  -->

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>