.swiper{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;display:flex;justify-content:center;align-items:center;position: relative;}
.township_slider2 .swiper-slide p{position: absolute;right: 2%;bottom: 1%;font-size: 12px;letter-spacing: 2px;color: #fff;}
/* .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;} */
/* .swiper-slide img{display:block;} */
.swiper{width:100%;
/*    height:300px;*/
    margin-left:auto;margin-right:auto}
.swiper-slide{background-size:cover;background-position:center}
.township_slider2{height:80%;width:100%}
.township_slider{box-sizing:border-box;padding:10px 0}
.township_slider .swiper-slide{width:25%;height: 100%;margin-top: 10px !important;}
.township_slider .swiper-wrapper {display: flex;justify-content: space-between;align-items: self-end;height: auto;}
.township_content.ptb {padding-bottom: 0px;}
.swiper-button-prev,.swiper-button-next{top:15%!important; align-items: center !important;}
.swiper-button-prev{right: 12%!important;left:auto!important;top: 14%!important;}
.swiper-button-next{right: 4%!important;}
.swiper-button-prev:after,.swiper-button-next:after{content:none!important}
.slider_content{position:relative;padding-top: 0px;}
.slider_content .township_slider2 .swiper-slide img {height: 500px;width: 100%;object-fit: cover;filter: brightness(0.9);}

.township_content {padding-top: 60px;}
.township_content .township_slider{bottom: 1%;left: 0;right: 0;/* position:absolute!important; *//* max-width: 80%; */margin: 0 auto;/* display: flex; */justify-content: center;height: auto;}
.township_slider .swiper-slide{transition: all 0.4s ease-in-out; position: relative;}
.township_slider .thumbs_img{position: relative;}
.township_slider .thumbs_img::after{content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgb(0 0 0 / 55%);}
.township_slider .swiper-slide-thumb-active .thumbs_img{opacity: 100%;}
.township_slider .swiper-slide-thumb-active .thumbs_img::after{ background: transparent;}  
.township_slider .swiper-slide img{width: 100%;height: 100%;}
.township-left-section{position: relative;height: 100%;}
.township-amenities-sec {display: flex;flex-direction: column;height: 100%;align-items: center;justify-content: center;text-align: center;}
.township-left-section::before {position: absolute;content: "";width: 2px;height: 205px;left: 50%;top: 10px;background-color: #1b604f8a;/* box-shadow: 2px 1px 0px 2px #1b604f03; */}
.township-left-section::after {position: absolute;content: "";width: 2px;height: 200px;left: 50%;bottom: 15px;background-color: #1b604f8a;}
.township-amenities-sec p {font-size: 18px;line-height: 38px;margin: 20px 0;color: #1b604f;}

@media (max-width: 1500px) {
    .township_slider2 {
        height: 60%;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .swiper {
        height: auto;
    }
    .slider_content .township_slider2 .swiper-slide img {
        height: auto;
                min-height: unset;
    }
}