* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root{
    --primary-color: rgba(0, 88, 79, 1);
    --primary-light-color: rgb(0, 67, 61);
    --gold-color: #f8c200;
    --gold-gradient: linear-gradient(90deg, #d4af37, #ffd700, #f5c542, #d4af37);
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    height: 100vh;
    background: var(--primary-color);
  }

  header{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  header .logo{
    /* height: 30vh; */
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  header .logo img{
    height: 100%;
    width: 100%;
  }
  
  @property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  .box {
    position: relative;
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-conic-gradient(
      from var(--a),
      #f5c542 0%,
      #ffd700 10%,
      transparent 10%,
      transparent 50%
    );
    animation: animate 6s linear infinite;
  }
  @keyframes animate {
    0% {
      --a: 0deg;
    }
    100% {
      --a: 360deg;
    }
  }
  .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
      from var(--a),
      #f5c542 0%,
      #ffd700 10%,
      transparent 10%,
      transparent 50%
    );
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
  }
  .box::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--primary-light-color);
    border: 10px solid var(--primary-color);
  }
  form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
    max-width: 300px;
    width: 100%;
    z-index: 2;
  }
  h2 {
    font-size: 30px;
    color: #ffd700;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    width: 100%;
    filter: drop-shadow(0 0 15px var(--gold-color));
  }
  .inputBx {
    position: relative;
    margin-bottom: 40px;
    max-width: 240px;
    width: 100%;
  }
  .inputBx span {
    position: absolute;
    inset: -2px;
    z-index: 1;
  }
  .inputBx span::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: repeating-conic-gradient(
      from var(--a),
      #f5c542 0%,
      #ffd700 10%,
      transparent 10%,
      transparent 50%
    );
    animation: animate 6s linear infinite;
  }
  .inputBx:nth-child(2) span::before {
    animation-delay: -1.5s;
  }
  .inputBx span::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary-color);
  }
  input {
    position: relative;
    z-index: 5;
    outline: 0;
    border: 0;
    padding: 8px 14px;
    /* max-width: 240px; */
    width: 100%;
    background: var(--primary-light-color);
    color: var(--gold-color);
  }
  ::placeholder {
    color: #9dc0aa;
  }
  .inputBx input[type="submit"] {
    background:var(--gold-gradient);
    cursor: pointer;
    box-shadow: 0 0 0 4px var(--gold-color);
    width: 100%;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    filter: drop-shadow(0 0 15px var(--gold-color));
    transition: .3s ease;
  }

  .inputBx input[type="submit"]:hover{
    scale: 1.05;
  }

  .inputBx ion-icon{
    color: var(--gold-color);
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    top: 5px;
    z-index: 6;
    right: 10px;
    cursor: pointer;
  }

  .inputBx ion-icon:hover{
    filter: drop-shadow(0 0 15px var(--gold-color));
  }

  .link {
    position: relative;
    width: 100%;
    top: -10px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }
  .link a {
    text-decoration: none;
    color: #95a2a0;
    font-weight: 600;
    font-size: 14px;
    transition: 0.5s;
  }
  .link a:hover,
  a:nth-child(2) {
    color: var(--gold-color);
    filter: drop-shadow(0 0 15px var(--gold-color));
  }
  